@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');

:root {
        --main-font: 'Bree Serif', serif;
        --header-font: 'Lobster', cursive;
        --bg-purple-light: #c284d5;
        --bg-purple-dark: #4e0066;
        --bg-white: #fff;
        
}


body {
    font-family: 'Kanit', sans-serif;
    background-color: var(--bg-purple-light);
}
#dashboard-title {
    text-align: center;  
    font-size: 24px;     
    margin: 0 auto;   
    
}
.header{
    background-color: var(--bg-purple-dark);
}

  .sidebar {
    background-color: var(--bg-purple-dark);
    padding: 20px;
    height: 100vh;
    text-align: center;
    color: var(--bg-white);
}

.sidebar .logo {
    max-width: 100px; 
    margin-bottom: 15px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    color: var(--bg-white);
    text-decoration: none;
}

.sidebar a:hover {
    background-color: var(--bg-purple-light);
}

.dashboard-content {
    padding: 20px;
}




.table-container {
    margin: 20px;
    border-radius: 8px;

}

.table {
    background-color: #fffefe;
    color: rgb(61, 60, 60);
    
}

.table th {
    background-color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    
}

.table td {
    background-color: #ffffff;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 14px;
}
